body {
	margin: 0 auto;
	padding: 2em 1em;
	max-width: 66em;
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5em;
	color: #333;
}

h1 {
	margin-top: 1em;
	padding-top: 1em;
	line-height: 1.7em;
}